@model IEnumerable<SikayetKayit.Models.Sikayet>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}





<div class="container">
    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAdd">Şikayet Giriş</a>
    <table class="table table-striped table-dark" id="table">
        <thead>
            <tr>
                <th scope="col">Müşteri Adı</th>
                <th scope="col">Müşteri Soyadı</th>
                <th scope="col">Telefon</th>
                <th scope="col">Email</th>
                <th scope="col">Şikayet Başlığı</th>
                <th scope="col">Tarih</th>
                <th scope="col">Açıklama</th>
                <th scope="col">
                    İşlemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sikayet in Model)
            {
                <tr>

                    <td>@sikayet.Customer.Name</td>
                    <td>@sikayet.Customer.SurName</td>
                    <td>@sikayet.Customer.Phone</td>
                    <td>@sikayet.Customer.Eposta</td>
                    <td>@sikayet.Title</td>
                    <td>@sikayet.DateTime</td>
                    <td>@sikayet.Description</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalDetails" data-sikayet-id="@sikayet.Id">Detay</a>
                        <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalDetails" data-sikayet-id="@sikayet.Id">Düzenle</a>
                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelete" data-sikayet-id="@sikayet.Id">Sil</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>



<div id="dic">
    <div>
        <input type="text" name="txttest" style="width:200px;" />
        <input type="button" onclick="AddToTextButton()" value="Add" />
    </div>
</div>

<div id="divJqe">
    <input id="AddButton" type="button" value="Add" />
</div>
<div id="TextBoxContainer">
   
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <form id="formSearch" method="get" action="@Url.Action("CustomerSearch","Home")">

                    <div class="input-group">
                        <input name="q" class="form-control" placeholder="Kelime Gir">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Ara!</button>
                        </span>
                    </div>

                </form>
                <hr />
                <div id="results">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" id="modalDetails_Body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" id="modalDelete_Body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<script>
    //function GetDynamicTextButton(value) {
    //    return '<div><input type="text" name="txttest" style="width:200px;" /><input type="button" onclick="RemoveToTextButton(this)" value="Remove" /></div>'
    //}
    //function AddToTextButton() {
    //    var div = document.createElement('DIV');
    //    div.innerHTML = GetDynamicTextButton("");
    //    document.getElementById("dic").appendChild(div);
    //}
    //function RemoveToTextButton(div) {
    //    document.getElementById("dic").removeChild(div.parentNode.parentNode);
    //}

    $(document).ready(function () {
        var i = 1;
        $("#AddButton").click(function () {

            var div = $("#TextBoxContainer");
            var value = "";

            var nameBox = $("<input />").attr("type", "textbox").attr("name", "People[" + i + "].Name");

            nameBox.val(value);
            div.append(nameBox);
            var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("id","text");
            textbox.attr("onclick", "RemoveTextBox(this)");
            div.append(button);
            $("#TextBoxContainer").append();
            i++;
        });

    });
    function RemoveTextBox(button) {
   
        $(button).parent().remove();
    }

    $("#formSearch").submit(function (event) {

        event.preventDefault();

        var form = $(this);
        var html = [];

        $.ajax({
            type: 'POST',
            url: form.attr("action"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {

                if (data == "") {

                    html.push("<div class='alert alert-dark'> Müşteri Ekle </div>");
                }
                else {
                    $.each(data, function (key, value) {

                        html.push("<div class='alert alert-dark'>" + value.Name + "</div>");

                    });
                }


                $("#results").empty().append(html);
            },
            error: function () {
                alert("hata oluştu");
            }
        });

    });

    
</script>


<script src="~/Scripts/dataTable.js"></script>
<script src="~/Scripts/Message.js"></script>